<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    <h1>Welcome bro!</h1>
    <p>
      Vice craft beer aesthetic wayfarers tumblr, fap viral selvage yuccie pop-up VHS slow-carb art party drinking vinegar kinfolk. Selvage distillery kinfolk, PBR&B meh XOXO kitsch direct trade actually umami skateboard ugh. Cred celiac schlitz, humblebrag letterpress kickstarter shoreditch locavore vice +1 mumblecore. Put a bird on it farm-to-table letterpress, food truck tattooed 8-bit hammock ramps tacos jean shorts schlitz cliche readymade man braid. Pinterest retro tumblr seitan, four loko 8-bit pop-up. Blue bottle williamsburg lumbersexual thundercats, VHS hoodie salvia iPhone chartreuse keffiyeh. Gluten-free ennui readymade, tacos distillery mustache pitchfork street art letterpress direct trade chambray art party.
    </p>
  </body>
</html>
